/* css miss baker*/
/*body{
    font-family: 'Raleway', sans-serif;
    color: green;
    background-color: gray;
}
h1{
    color: blue;
    font-family: Airal, Helvetica, Verdana, sans-serif;
    text-align: center;
}
h3{
    color: purple;
    font-family: Airal, Helvetica, Verdana, sans-serif;
    text-align: center;
}*/

figure{
    text-align: center;
    color: yellow;
}
footer{
    text-align: center;
}
