/* css doc for about me*/
body{
    background-color: #8c198c; 
    font-family: 'Raleway', sans-serif;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
}
h1{
    color: white;
    font-family: inherit;
    background-color: inherit;
    text-align: center;
}
h2, h3{
    color: white;
    font-family: inherit;
    background-color: inherit;
    text-align: left;
}
a:link{
    text-decoration: none;
    color: #198c19; 
}
a:hover{
    color: white;
}
a:visited{
    color: #e5d4b0;
    text-decoration: none;
}
a:visited:hover{
    color: white;
}
p{
    /*margin-left: 40px;*/
}
#aboutfig{
    text-align: right;
    float: right;
    display: inline;
}
/*
#pagetitle{
    text-align: center;
    color: green;
}

.catagory{
    text-align: left;
    color: green;
    transition: all 3000ms ease-in-out;
}

.itemimg{
    width: 200px;
    height: 200px;
    display: inline-block;
}
*/
