/* So the HTML5 structural tags work in older browsers */
article, aside, figure, footer, header, nav, section {
    display: block;
}
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: yellow;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 600px;
    margin: 0 auto;
    border: 10px double blue;
    background-color: white;
}
section {
	padding: 1.5em;
}
h1 {
	font-size: 150%;
	color: blue;
	padding-bottom: .5em;
}
h2 {
	font-size: 125%;
	padding-top: .5em;
	padding-bottom: .25em;
}
hgroup h2 {
	padding-top: 0;
}

p {
	padding-bottom: .5em;
}
cite {
	color: blue;
	font-style: normal;
}
ul {
	margin-left: 1.25em;
}
li {
	padding-bottom: .35em;
}
/* the styles for the tabs */
#tab_list {
    margin:0;
    padding: 3px 6px;
    border-bottom: 1px solid black;
}
#tab_list li {
    list-style: none;
    display: inline;
}
#tab_list li a {
    padding: 3px 1em;
    margin-left: 3px;
    text-decoration: none;
    font-weight: bold;
    background: #ccffff;
    border: 1px solid black;
}
#tab_list li a:hover { 
    background: silver;
    border-color: black;
}
#tab_list li a.active {
    background-color: white;
    border-bottom: 1px solid white;
}
#tab_contents div { 
    padding: 5px 10px 10px;
    border: 1px solid black;
    border-top: 0;
    height: 100px;
    overflow:auto;
}
.hide {
    display: none; 
}
