body{
    background-color: #9f9691; 
    font-family: 'Raleway', sans-serif;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
}
h1{
    color: white;
    font-family: inherit;
    background-color: inherit;
    text-align: center;
}
h2, h3{
    color: white;
    font-family: inherit;
    background-color: inherit;
    text-align: left;
}
a:link{
    text-decoration: none;
    color: #198c19; 
}
a:hover{
    color: white;
}
a:visited{
    color: #e5d4b0;
    text-decoration: none;
}
a:visited:hover{
    color: white;
}
.form1em{
    padding: 10em;
    margin: 10em;
}