@keyframes slide {
	100% {
		transform: translateX(1000px);	
	}
}
.square{
	animation-iteration-count: infinite;
	animation-name: slide;
	animation-duration: 3s;
	animation-direction: alternate; 
	position: absolute;
}